@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Light.woff2') format('woff2');
      font-style: normal;
      font-weight: 300;
      font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Light.woff') format('woff');
      font-style: normal;
      font-weight: 300;
      font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.woff2') format('woff2');
      font-style: normal;
      font-weight: 400;
      font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.woff') format('woff');
      font-style: normal;
      font-weight: 400;
      font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Medium.woff2') format('woff2');
      font-style: normal;
      font-weight: 500;
      font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Medium.woff') format('woff');
      font-style: normal;
      font-weight: 500;
      font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-SemiBold.woff2') format('woff2');
      font-style: normal;
      font-weight: 600;
      font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-SemiBold.woff') format('woff');
      font-style: normal;
      font-weight: 600;
      font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.woff2') format('woff2');
      font-style: normal;
      font-weight: 700;
      font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.woff') format('woff');
      font-style: normal;
      font-weight: 700;
      font-display: swap;
}
@font-face {
    font-family: 'NunitoSans';
    src: url('../fonts/NunitoSans-Light.woff2') format('woff2');
      font-style: normal;
      font-weight: 300;
      font-display: swap;
}
@font-face {
    font-family: 'NunitoSans';
    src: url('../fonts/NunitoSans-Light.woff') format('woff');
      font-style: normal;
      font-weight: 300;
      font-display: swap;
}
@font-face {
    font-family: 'NunitoSans';
    src: url('../fonts/NunitoSans-Regular.woff2') format('woff2');
      font-style: normal;
      font-weight: 400;
      font-display: swap;
}
@font-face {
    font-family: 'NunitoSans';
    src: url('../fonts/NunitoSans-Regular.woff') format('woff');
      font-style: normal;
      font-weight: 400;
      font-display: swap;
}
@font-face {
    font-family: 'NunitoSans';
    src: url('../fonts/NunitoSans-SemiBold.woff2') format('woff2');
      font-style: normal;
      font-weight: 600;
      font-display: swap;
}
@font-face {
    font-family: 'NunitoSans';
    src: url('../fonts/NunitoSans-SemiBold.woff') format('woff');
      font-style: normal;
      font-weight: 600;
      font-display: swap;
}
@font-face {
    font-family: 'NunitoSans';
    src: url('../fonts/NunitoSans-Bold.woff2') format('woff2');
      font-style: normal;
      font-weight: 700;
      font-display: swap;
}
@font-face {
    font-family: 'NunitoSans';
    src: url('../fonts/NunitoSans-Bold.woff') format('woff');
      font-style: normal;
      font-weight: 700;
      font-display: swap;
}
@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Bold.woff2') format('woff2');
      font-style: normal;
      font-weight: 700;
      font-display: swap;
}
@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Bold.woff') format('woff');
      font-style: normal;
      font-weight: 700;
      font-display: swap;
}
@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Black.woff2') format('woff2');
      font-style: normal;
      font-weight: 900;
      font-display: swap;
}
@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Black.woff') format('woff');
      font-style: normal;
      font-weight: 900;
      font-display: swap;
}