//HEADING
.heading {
   margin-top: 1rem;
}
.heading__inner{
     background: url('../images/home/heading-bg.jpg') no-repeat center;
     background-size: cover;
    border-radius: 20px;
}
.heading__box-title{
    padding-top: 10rem;
    max-width: 105rem;
    margin-left: auto;
    margin-right: auto;
}
.heading__title {
    padding: 2rem 4rem;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 5.8rem;
    text-align: center;
    background: #FFFFFF;
    border: 5px solid #F8CC48;
    border-radius: 20px
}
.heading__title span{
    color: #6D9BE2;
}

.heading__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}
.heading__content {
    margin-left: 6rem;
}
.heading__content-text {
    margin-bottom: 3rem;
    @extend %inter-500;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: $white;
}
.heading__content-btn {
    margin-bottom: 2rem;
    width: 29.6rem;
    height: 7.2rem;
    background: #F8CC48;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1.8rem;
    text-align: center;
    line-height: 7.2rem;
    transition: all .3s ease-in;
}
.heading__content-btn:hover{
    background: #fff;
    color: #F8CC48;
    transition: all .3s ease-in;
}
.heading__content-social {
    display: flex;
    align-items: center
}
.heading__content-social-text {
    margin-right: 1rem;
    @extend %inter-500;
    color: #D6D6D6;
}
.heading__content-social-icon {
    margin-left: 1rem;
}