$black: #212121;
$white: #fff;
$grey: #2B2B2B; 

%nunito-700{
    font-family: 'Nunito';
    font-weight: 700;
}
%nunito-900{
    font-family: 'Nunito';
    font-weight: 900;
}
%inter-300{
    font-family: 'Inter';
    font-weight: 300;
}
%inter-400{
    font-family: 'Inter';
    font-weight: 400;
}
%inter-500{
    font-family: 'Inter';
    font-weight: 500;
}
%inter-600{
    font-family: 'Inter';
    font-weight: 600;
}
%inter-700{
    font-family: 'Inter';
    font-weight: 700;
}